
*.class
J'ai créer une classe fraction où j'ai initialisé une fraction (numérateur; dénominateur)

J'ai rajouter une fonction toString pour l'affichage 

Dans le main j'utilise la fonction toString pour afficher la fraction.

Pour compiler : javac Main.java fraction.java

Pour exécuter : java Main 
